/* Nav bar css including dropdown */
.navbar {
  overflow: hidden;
  background-color: #eaf2cc;
  font-family: Arial;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px 125px;
  text-decoration: none;
  font-size: 17px;
}

.navbar input {
  float: middle;
  text-align:center;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #aab28c;
  color: black;
}

.dropdown {
  float:left;
  overflow:hidden;
}
/* Make droppdown allways on top*/
.dropdown .dropdownbtn{
  border:none;
  background-color: #eaf2cc;
  padding: 25px 125px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
}

.dropdownbtn:hover{
  background-color: #aab28c;
}

.dropdown-content {
  display: none;
  background-color:#eaf2cc;
  position:absolute;
  width: 298px;
  z-index:2;

}

.dropdown-content a {
  float: none;
  padding: 25px 75px;
  text-decoration: none;
  display: block;
  text-align: left;  
}

.dropdown-content a:hover {
  background-color: #aab28c;
}

/*Show the dropdowns */
.dropdown:hover .dropdown-content {
  display: block;
}
 
/*End of nav bar */
#mainTitle {
  padding: 5px;
  padding-left:10px;
  padding-right:100px;
  position:relative;
  left:10px;
  background-color:lightgrey;
  float:left;
  border-top:2px solid black;
}

#startP{
  position:relative;
}

#searchBar {
  margin-top:25px;
  float:middle;
  position:relative;
}

#creds{
  float:left;
}

.button{
  border-radius:1px;
}
/*Add phone access for world image*/
#imageworld {
  width:1200px;
  height:500px;
}

.imageoverlay {
  position: relative;
  text-align: center;
  
}
.zone{
  text-align: center;
  font-size: 14px;
  border:2px solid black;
}

#zoneNAmerica{
  position: absolute;
  top: 160px;
  left: 250px;
}


#zoneSAmerica{
  position: absolute;
  top: 350px;
  left: 320px;
}

#zoneAfrica{
  position: absolute;
  top: 300px;
  right: 500px;
}

#zoneAsiaTem{
  position: absolute;
  top: 160px;
  right: 280px;
}

#zoneAsiaTrop{
  position: absolute;
  top: 300px;
  right: 200px;
}

#zoneEurope{
  position: absolute;
  top: 160px;
  right: 500px;
}

#zoneAustrala{
  position: absolute;
  bottom: 170px;
  right: 120px;
}

#zonePacific{
  position: absolute;
  bottom: 200px;
  right:1px;
}

#zoneAntarctic{
  position: absolute;
  bottom: 50px;
  right:500px;
}

.zoneName{
  position:relative; 
  padding: 20px 10px 20px 5px;
  left:10px;
  background-color:lightgrey;
  border-top:2px solid black;
  width:250px;
  margin-top:20px;
  display: inline;
  float: left;
  clear: both;
}

.zoneImages{
  position:relative;
  height:120px;
  margin-top:20px;
  left:800px;
}

.p{
  position:relative;
}

/*Columns for zone pages*/
* {
  box-sizing:border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
