/*Style sheet for Plants of the world website
See heading comments for each section of css*/

/* Nav bar css including dropdown */
.navbar {
  overflow: hidden;
  background-color: #b5e78d;
  font-family: Arial;
  border-radius: 30px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px 125px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .search-dropdown{
  float: middle;
  overflow:hidden;
}

.navbar a:hover {
  background-color: #aab28c;
  color: black;
}

/*Nav bar continued..Dropdown*/
.dropdown {
  float:left;
  overflow:hidden;
}

.dropdown .dropdownbtn{
  border:none;
  background-color: #b5e78d;
  padding: 25px 125px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
}

.dropdownbtn:hover{
  background-color: #aab28c;
}

.dropdown-content {
  display: none;
  background-color:#b5e78d;
  position:absolute;
  width: 298px;
  z-index:2;

}

.dropdown-content a {
  float: none;
  padding: 25px 75px;
  text-decoration: none;
  display: block;
  text-align: left;  
}

.dropdown-content a:hover {
  background-color: #aab28c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*(Fake) Search bar. See deviations in report for more information */
#search_bar {
  margin-top:25px;
  margin-left:25px;
  font-size:15px;
  position:relative;
}

/*Search bar for the zone dropdown*/
#zone_search {
  box-sizing: border-box;
  width:294px;
  margin-left:2px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/*End of nav bar css */

/*Home Page */
#main_title {
  padding: 5px;
  padding-left:10px;
  padding-right:100px;
  position:relative;
  left:10px;
  background-color:lightgrey;
  float:left;
  border-top:2px solid black;
}

/*CSS for all buttons */
.button{
  border-radius:1px;
}

/*Image of world */
#imageworld {
  width:1200px;
  height:500px;
}

.imageoverlay {
  position: relative;
  text-align: center;
}

.zone{
  text-align: center;
  border:2px solid black;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones */
  #imageworld {
    width:400px;
    height:167px;
  }
  .zone{
    border:1px solid black;
  }
}

/*The zone buttons on world map*/
#zone_NAmerica{
  position: absolute;
  top: 25%;
  left: 20%;
}

#zone_SAmerica{
  position: absolute;
  top: 55%;
  left: 26%;
}

#zone_Africa{
  position: absolute;
  top: 47%;
  left: 50%
}

#zone_AsiaTem{
  position: absolute;
  top: 25%;
  left: 66%;
}

#zone_AsiaTrop{
  position: absolute;
  top: 47%;
  left: 70%;
}

#zone_Europe{
  position: absolute;
  top: 25%;
  left: 50%;
}
#zone_Australa{
  position: absolute;
  bottom: 32%;
  left: 80%;
}

#zone_Pacific{
  position: absolute;
  bottom: 32%;
  left: 92%;
}

#zone_Antarctic{
  position: absolute;
  bottom: 8%;
  left: 50%;
}

/*Zone pages*/
.zoneName{
  position:relative; 
  padding: 20px 10px 20px 5px;
  left:10px;
  background-color:lightgrey;
  border-top:2px solid black;
  width:250px;
  margin-top:20px;
  display: inline;
  float: left;
  clear: both;
}

.zoneImages{
  position:relative;
  height:120px;
  margin-top:20px;
  left:800px;
}

.p{
  position:relative;
}

/*Columns of plants for zone pages*/
* {
  box-sizing:border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/*Plant pages
/*links and nav bar*/
.plants a {
  color:green;
  background-color: transparent;
}

.logoNav{
  margin:10px 5px 5px 15px;
  position:relative;
  height:50px;
  left:100px
}

/*Body of plant pages*/
.plant_name{
  position:relative; 
  padding: 10px 10px 10px 15px;
  left:10px;
  background-color:lightgrey;
  border-top:2px solid black;
  margin-top:20px;
  width:260px;
  display: inline;
  float: left;
  clear: both;
}

.plant_Image{
  position:relative;
  height:220px;
  width:400px;
  left:100px;
}

/*Facts of plant near image*/
.facts{
  clear:both;
  float:right;
  width:50%;
}

.fact_Title{
  position:relative; 
  padding: 10px 10px 10px 15px;
  left:10px;
  background-color:lightgrey;
  border-top:2px solid black;
  margin-top:20px;
  width:400px;
  clear: both;
}

.plant_bullet_points{
  padding:2px;
}

.main_Plant_Text{
  position:relative; 
  padding: 10px 10px 10px 5px;
  background-color:lightgrey;
  border-top:2px solid black;
  width:400px;
}

.box{
  margin-top:20px;
  padding:0px 15px 10px 0px;
  border:2px;
  border-color:black;
  border-style: solid;
  width:65%;
}

.delving{
  padding-left: 10px;
}

/*Pop-up factfile on plant page*/
.popup{
  position: relative;
  display: inline-block;
  left:900px;
  border:2px;
  border-style: solid;
  margin-top:5px;
  top:-200px;
  padding:20px;
  text-align:left;
  background-color:#bcf48e;
} 

.popdown{
  position: relative;
  display: inline-block;
  border:2px;
  border-style: solid;
  border-color: #454545;
  margin-top:4px;
  padding:6px;
  bottom:10px;
  color:#454545;
  background-color: #b5e78d;
}

.popup .popup_text {
  visibility: hidden;
  width: 320px;
  height:250px;
  background-color: #028c0b;
  color: #ffffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom:100px;
  right:50px;
  margin-left: -80px;
  border-style:dotted;
  border-width: 3px;
}

.fact_List{
  width:45%;
  float:left;
  text-align:left;
  padding:8px;
}

.popup .show {
  visibility: visible;
}

.popup .hide {
  visibility: hidden;
}


/*The unmade functioning page*/
.sorry_button{
  position:relative;
  left:150px;
  padding:20px;
  font-size:20px;
}

#sorry_page_img{
  position:relative;
  height:200px;
  width:200px;
  left:100px;
}

/*Contact page */
#submit_box{
  border:2px;
  position:relative;
  border-style:dashed;
  border-color:#028c0b;
  width: 650px;
  margin: 20px auto 25px auto;
  padding:5px;
}

#pre_talk{
  position:relative;
  left:200px;
}

.form{
  position:relative;
  padding-left:200px;
  padding-bottom:20px;
}

#contact_title{
    font-size: 72px;
    color: black;
    text-align: center;
}

.contact_info{
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    border-radius: 4px;
    border-style:solid;
}

#submit_btn{
  position:relative;
  margin-left:70px;
  padding:10px;
  font-size:20px;
}
/*CSS stylesheet end*/